*~
.DS_Store
*.log
.config/nvim/bundle/**/*
.config/nvim/lua/config/dap/adapters/**/*
.config/StardewValley
.config/containers
.config/gloud
.local/bin
.local/pipx
.local/share
.local/state
node_modules